.display-5,
.sub {
  color: #469b4a;
  text-align: center;
}

#msg {
  color: #469b4a;
}

#avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  text-align: center;
}
